In [1]:
#import the needed library
import pandas as pd

In [2]:
# Load dataset into pandas dataframe and show first five rows
df=pd.read_csv('/content/drive/MyDrive/python hands-on - dataset.csv')
df.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [3]:
print (df.shape)
print (df.dtypes)

(10, 4)
date                  object
sku                    int64
warehouse_location    object
quantity               int64
dtype: object

In [4]:
# Convert date column to datetime datetype
df['date']=df['date'].astype('datetime64')

In [5]:
print (df.shape)
print (df.dtypes)

(10, 4)
date                  datetime64[ns]
sku                            int64
warehouse_location            object
quantity                       int64
dtype: object

In [6]:
df

        date        sku warehouse_location  quantity
0 2021-01-02  100940478              lagos        23
1 2020-11-09  100940479              lagos        84
2 2021-01-15  100940480                oyo        11
3 2016-11-09  100940481               ogun        98
4 2017-04-04  100940482               ogun        23
5 2018-01-13  100940483               abia         3
6 2021-03-15  100940484             kaduna         7
7 2021-01-11  100940485              abuja         4
8 2021-02-16  100940486               kano         9
9 2019-06-06  100940487            anambra       199

In [8]:
# add the obsolete column and flag as True or False as appropraite

df.loc[df['date'] <'2021-01-01', 'obsolete']='TRUE'
df.loc[df['date'] >= '2021-01-01', 'obsolete']='FALSE'

In [10]:
df

        date        sku warehouse_location  quantity obsolete
0 2021-01-02  100940478              lagos        23    FALSE
1 2020-11-09  100940479              lagos        84     TRUE
2 2021-01-15  100940480                oyo        11    FALSE
3 2016-11-09  100940481               ogun        98     TRUE
4 2017-04-04  100940482               ogun        23     TRUE
5 2018-01-13  100940483               abia         3     TRUE
6 2021-03-15  100940484             kaduna         7    FALSE
7 2021-01-11  100940485              abuja         4    FALSE
8 2021-02-16  100940486               kano         9    FALSE
9 2019-06-06  100940487            anambra       199     TRUE

In [11]:
# Convert df to JSON
# Download JSON FILE
df.to_json('json_file', orient='records')
from google.colab import files
files.download('json_file')

In [12]:
# Convert df to CSV
# Download CSV FILE
df.to_csv('csv_file')
from google.colab import files
files.download('csv_file')